
* {
    box-sizing: border-box;
    /* border: 1px solid grey; */
   
}

html, body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    margin: 0px;
    display: flex;
    align-items: center;
    
}

/* header styles */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    background-color: rgb(0, 65, 29);
    color: white;
    border: 0px;
    position: sticky;
    top: 0px;
    z-index: 2;
    min-width: 0px;
    width: 100vw;
    gap: 20%;
    
}

.header-name {
    align-self: flex-start;
    display: flex;
    font-size: 25px;
    margin-left: 20px;
    min-width: 0px;
}

nav {
    display: flex;
    text-align: right;
    align-items: center;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    min-width: 0px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1em;;
    min-width: 0px;
    font-size: 1.5em;
}

a:hover {
    color:rgb(3, 110, 114);
    cursor: pointer;
}


/* logo styles */

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;

}

.logo-container img {
    max-width: 50%;
    object-fit: cover;

}

/* style for X between logos */

div h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: grey
}

.business-description {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
    margin: 0px;
    width: 100%;
}


/* styles for milktea items */


.item-container img {
    width: 80%;
    height: auto;
    z-index: 1;
    display: flex;
    transition: transform 0.3s ease, opacity 0.5s ease-in-out, filter 0.3s ease;
    border-radius: 30px;
    margin: 50px;
    border: 2px solid white;
    margin-bottom: 10px;
    min-width: 0px;
    
}

.milktea-container img:active {
    transform: scale(1.05);
    filter: grayscale(0%);
    opacity: 1.0;
    z-index: 1;

}


.milktea-label {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(63, 63, 63);
    font-size: 1.5em;
}

.milktea-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 30px;
    border-bottom: 2px solid rgb(212, 22, 149);
    min-width: 0px;
    width: 80%;
    flex-wrap: wrap;
    max-width: 1200px;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    min-width: 0px;
    max-width: 500px;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-price {
    text-align: center;
    font-size: 2em;
    color:rgb(116, 116, 116);
    display: flex;
    flex-direction: column;

}

 
.button-design {
    background-color: rgb(10, 238, 238);
    border: 2px solid white;
    margin-top: 5px;
    transition: transform 0.3s ease;
    height: 50px;
    font-size: 20px;
}

.button-design:hover {
    background-color: rgb(22, 161, 161);
    cursor: pointer;
}

.button-design:active {
    transform: scale(1.1);
}

/* cart styles */


.cart-container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    max-width: 800px;

}

.cart-header {
    font-size: 3em;
    text-align: center;
}

/* style for cart column labels */

.cart-column {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    border-bottom: 1px solid rgb(212, 22, 149);
    padding-bottom: 0.5em;
}

.cart-item-label {
    font-size: 1em;
    width: 20%;
    text-align: center;
    padding-bottom: 0px;
    margin: 0.5em;
}


/* styles for cart item, flavor, price, and quantity */

.cart-item-row {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(212, 22, 149);
    flex-direction: row; 
    align-items: center;
}

.cart-item-image {
    /* width: 20%; */
    border-radius: 15%;
}

.cart-item-flavor {
    align-self: center;
    text-align: center;
 }


.cart-item-price {
    text-align: center;
    align-self: center;

}

.row-items {
    width: 5.5em;
    margin: 1vh;
    /* display: block; */
    height: 5.5em;
}

.cart-item-row span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart-quantity {
    font-size: 1em;
    text-align: center;
}

/* styles for add and remove button */

.button-container {
    align-self: stretch;
    flex-direction: column;
    justify-content: center;
    display: flex;
    gap: 0.5vh;
}

.button-add {
    background-color: rgb(78, 199, 255);
    width: 100%;
    height: 50%;
    border: 0px;
    border-radius: 50%;
}

.button-remove {
    background-color: rgb(244, 141, 141);
    width: 100%;
    height: 50%;
    border: 0px;
    border-radius: 50%;
}


/* styles for total price */

.total-price {
    margin-right: 0;
    font-size: 2em;
    margin-bottom: 1em;
    text-align: end;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 80%;
    max-width: 800px;;
    margin-top: 1em;

}